<div>
    <h1>Upcoming Angular Events</h1> 
    <hr/>
    <div class="row">
        <div class="col-md-5" *ngFor="let event of events" >
            <event-thumbnail  #thumbnail [event]="event" (click)="handleThumbnailClick(event.name)"></event-thumbnail>
        </div>
    </div>
    

    <!-- <event-thumbnail (eventClick)="handleEventClicked($event)" [event]="event1"></event-thumbnail> -->
    
    <!-- {{thumbnail.someproperty}}
    <button class="btn btn-primary" (click)="thumbnail.logFoo()">Call foo</button> -->
</div>